/*Body Mods*/
body {
    background: url("https://mcdn.wallpapersafari.com/medium/38/49/wKf3vF.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, label {
    color: lightcyan;
    text-shadow: 4px 4px 6px #000;
}

/*Form Mods*/
#search {
    width:75%;
}
button{
    display:inline-block;
    width: 150px;
    padding: 20px;
    margin:10px;
    text-align: center;
    background: whitesmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    border: 1px solid #888;
}
@keyframes pulse_animation {
    0%{ transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
.pulse {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#roast-selection {
    height: 33%;
}

/*SearchBar*/
#search {
    border:none;
    border-radius: 5px;
}
#search:hover{
 animation: pulse 2s infinite;
}
/*Results*/
#coffees {
    background-color: rgba(231, 228,227, .5);
    color: black;
}
